<h2>Últimas receitas</h2>
<section>

  <%= render partial: 'recipe', collection: @recipes, as: :recipe %>

</section>

<aside>
  <p>Preferência</p>
  <ul>
    <% @food_preference.each do |food| %>
      <li><%= link_to food.name, food %></li>
    <% end %>
  </ul>
</aside>
