<h2>Cadastro de Preferências de comidas</h2>
<%= simple_form_for @food_preference do |f| %>
  <%= f.input :name, label: 'Descrição:', error: 'Esse campo é obrigatório!' %>
  <%= f.submit 'Salvar' %>
<% end %>
